---
layout: default
title: Gallery
---

{% include figure.html path="/images/all-in.jpg" title="cor" class="img-fluid rounded z-depth-1" %}
{% include figure.html path=/images/berdonces2023.png" title="cor" class="img-fluid rounded z-depth-1" %}
{% include figure.html path="/images/Magnetic.jpeg" title="cor" class="img-fluid rounded z-depth-1" %}
{% include figure.html path="/images/pihole.png" title="cor" class="img-fluid rounded z-depth-1" %}
{% include figure.html path="/images/tailoringpolymers.png" title="cor" class="img-fluid rounded z-depth-1" %}
{% include figure.html path="/images/sigma.png" title="cor" class="img-fluid rounded z-depth-1" %}
